

*{
  box-sizing:border-box;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color:chocolate;
  align-items: center;
  height:100vh;
}

.movie-container{
  margin-top:20px opx;
  background-color:honeydew;
}
.movie-container select{
  margin-left:15px;
  padding:5px 15px;
  background-color:burlywood;
  
  
}
.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.showcase{
  list-style-type: none;
  display:flex;
  justify-content: space-around;
  padding:5px 10px;
  margin-top:20px;
  border-radius:5px;
  background: rgba(0, 0, 0, 0.1);
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.screen{
  margin-top:20px;
  margin-bottom:20px;
  width:100%;
  height:120px;
  background-color:white;
}


.row{

  display:flex;
}
.seat{
  width:22px;
  height:16px;
  font-size:50px;
  margin:3px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color:black;
}

.seat.selected{
  background-color:green;
}

.seat.sold{
  background-color:red;
}
p.text{
  margin: 5px 0;
}

p.text span{
  color:darkturquoise;
}